{{page-title "Vehicles"}}
<div class="container d-flex py-4 justify-content-between align-items-center">
  <h3>Vehicles</h3>
  {{#link-to 'vehicles.new' tagName='button' class='btn btn-primary shadow' }}
    <i class="fa-solid fa-car"></i>
    New Vehicle
  {{/link-to}}
</div>

<div class="container p-4">
  <div class="d-flex flex-wrap gap-4">
    {{#each model as |vehicle|}}
      <div class="card shadow border-0 p-2  rounded-1" style="width: 12rem;">
        
        <img src="{{ vehicle.image }}" alt="{{ vehicle.name }}" style="min-height: 100px; max-height:100px">
        
        <div class="card-body d-flex flex-column justify-content-between px-2 py-0 mt-2">
          <div class="text-center">
            <h5 class="card-title m-0 p-0">{{ vehicle.name }}</h5>
            <p class="text-black-50" >{{ vehicle.year }}</p>
          </div>

          <div class="row">
            <div class="col-sm-62 col-3 p-1">
              <button class="btn btn-outline-danger btn-sm rounded-1 w-100" {{action 'delete' vehicle}} >
                <i class="fa-solid fa-trash-can"></i>
              </button>
            </div>

            <div class="col-sm-62 col-9 p-1">
              {{#link-to 'vehicles.edit' vehicle tagName='button' class='btn btn-warning btn-sm rounded-1 w-100' }}
                <i class="fa-solid fa-pen-to-square"></i>
                Edit
              {{/link-to}}
            </div>
          </div>
        </div>
      </div>
    {{/each}}
  </div>
</div>

<nav class="container d-flex justify-content-center">
  <ul class="pagination">
    {{#each model.meta.pagination.pages as |value|}}
      {{#if value}}
        <li class="page-item">
          <a href="?page={{ value }}" class="page-link">{{ value }}</a>
        </li>
      {{/if}}
    {{/each}}
  </ul>
</nav>
